*{
    box-sizing: border-box;
}
.herosection {
    width: 100%;
    height: 100vh;
    background-image: url(Assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.69);
    background-blend-mode: overlay;
}
.herosection .navbar-p {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.5s;
}
.navbar-p.scrolled {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.69);
}
.navLeft-p h1 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.navRight-p .menubtn {
    font-size: 25px;
    color: #fff;
}
.navRight-p .menubtn {
    font-size: 25px;
    color: #fff;
}
.navRight-p .navlinks-p {
    position: relative;
}
.navRight-p .navlinks-ph {
    position: relative;
}
.navRight-p .navlinks-p::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #E43C5C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.3s ease-in-out 0s;
}
.navRight-p .navlinks-ph::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #E43C5C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.3s ease-in-out 0s;
}
.navRight-p .navlinks-p:hover::before {
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
}

/* MOBILE NAVBAR */
.mNav {
    width: 100vw;
    height: 100vh;
    padding-inline: 2vb;
}
.mNav .navClose {
    height: 12vh;
}
.navClose .closebtn {
    font-size: 30px;
}
.mNav .navMain {
    height: 84vh;
    padding: 20px;
}
.mNav .navMain a {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #444444;
}
#home {
    color: #E43C5C;
}
.mNav .navMain a:hover {
    color: #E43C5C;
}
.mNav .dropdown-menu {
    width: 80vw;
}
/* MOBILE NAVBAR END */



.herosub h2 {
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.herosub p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btn {
    font-family: "Roboto", sans-serif;
    border: 2px solid #8B898B;
    width: 183px;
    height: 41px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.btn:hover {
    background-color: #E43C5C;
    color: #fff;
}

/* SECTION-2 */
.about {
    width: 100%;
    padding: 60px 0;
}
.about .section-title {
    gap: 12px;
}
.section-title h2 {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 0;
    border-radius: 50px;
    background-color: #FCEBEE;
    color: #E43C5C;
}
.section-title p {
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    color: #493C3E;
}
.section-title span {
    color: #E43C5C;
}
.about .content h3 {
    font-size: 34px;
    font-weight: 700;
    color: #493C3E;
    font-family: "Nunito", sans-serif;
    margin-bottom: 30px;
}
.about .content p {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #444444;
}
.about .content .about-btn {
    border: 2px solid #E43C5C;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    color: #E43C5C;
    display: inline-flex;
    align-items: center;
    transition: 0.3s ease-in-out 0s;
}
.about .content .about-btn:hover {
    color: #fff;
    background-color: #E43C5C;
    transition: 0.3s ease-in-out 0s;
}
.about .content .about-btn iconify-icon {
    font-size: 18px;
    padding-left: 3px;
}
.about .icon-box iconify-icon {
    font-size: 40px;
    color: #E43C5C;
    margin-bottom: 10px;
}
.about .icon-box h4 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;

}
.about .icon-box h4 a {
    color: #493c3e;
    transition: 0.3s;
}
.about .icon-box h4 a:hover {
    color: #E43C5C;
}
.about .icon-box p {
    font-size: 15px;
    color: #4444449a;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}
/* SECTION-2 END */

/* SECTION 3 */
.services {
    padding: 60px 0;
}
.services .service-item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0 25px 0;
    padding: 50px 30px;
}
.services .service-item::before {
    content: "";
    position: absolute;
    inset: 100% 0 0 0;
    background: #E43C5C;
    transition: all 0.3s;
    z-index: -1;
}
.service-item iconify-icon {
    color: #E43C5C;
    font-size: 40px;
    margin-bottom:  10px;
}
.service-item h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: "Nunito", sans-serif;
}
.service-item h4 a {
    color: #493C3E;
    transition: ease-in-out 0.3s;
}
.service-item p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}
.services .service-item:hover iconify-icon,
.services .service-item:hover h4 a,
.services .service-item:hover p 
{
    color: #fff;
}
.services .service-item:hover::before {
    inset: 0;
}
/* SECTION 3 END */

/* SECTION 4 */
.features {
    padding: 0 0 60px 0;
}
.features .features-item {
    border: 1px solid #44444428;
    padding: 20px;
    transition: 0.3s;
    gap: 10px;
}
.features .features-item:hover {
    border: 1px solid #E43C5C;
}
.features .features-item iconify-icon {
    font-size: 32px;
}
.features .features-item h3 {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.features .features-item h3 a {
    color: #493c3e;
    transition: 0.3s;
}
.features .features-item:hover h3 a {
    color: #E43C5C;
}
/* SECTION 4 END */

/* SECTION 5 */
.call-to-action {
    padding: 80px 0;
    background-image: url(Assets/cta-bg.jpg);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.488);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
.call-to-action h3 {
    font-family: "Nunito", sans-serif; 
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.call-to-action p {
    color: #fff;
    font-family: "Roboto", sans-serif;
}
.call-to-action .cta-btn {
    font-family: "Nunito", sans-serif; 
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    padding: 12px 40px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.3s;
}
.call-to-action .cta-btn:hover {
    background-color: #E43C5C;
    color: #fff;
    border: 2px solid #E43C5C;
}
/* SECTION 5 END */

/* SECTION 6 */
.pricing {
    padding: 60px 0 120px 0;
}
.pricing .section-title {
    margin-bottom: 40px;
    padding-bottom: 60px;
}
.pricing .pricing-item {
    background-color: #fff;
    padding: 60px 40px;
    box-shadow: 0px 3px 20px -2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.pricing-item h3 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.pricing-item .icon {
    margin: 30px auto 20px auto;
    width: 70px;
    height: 70px;
    background-color: #E43C5C;
    border-radius: 50%;
    transform-style: preserve-3d;
}
.pricing-item .icon iconify-icon {
    color: #fff;
    font-size: 28px;
}
.pricing-item .icon::before {
    position: absolute;
    content: "";
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: color-mix(in srgb, #E43C5C, transparent 80%);
    transform: translateZ(-1px);
}
.pricing-item .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: color-mix(in srgb, #E43C5C, transparent 90%);
    transform: translateZ(-2px);
}
.pricing-item h4 {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #E43C5C;
    margin-bottom: 25px;
    text-align: center;
}
.pricing-item h4 sup {
    font-size: 28px;
}
.pricing-item h4 span {
    color: #44444478;
    font-size: 18px;
    font-weight: 400;
}
.pricing-item ul {
    padding: 20px 0;
    list-style: none;
    color: color-mix(in srgb, #444444, transparent 20%);
}
.pricing-item ul li {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}
.pricing-item ul li iconify-icon {
    font-size: 24px;
}
.pricing-item ul .na {
    color: color-mix(in srgb, #444444, transparent 70%);
}
.pricing-item ul .na span {
    text-decoration: line-through;
}
.pricing-item .buy-btn {
    border: 1px solid color-mix(in srgb, #444444, transparent 80%);
    color: color-mix(in srgb, #444444, transparent 20%);
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
}
.pricing-item .buy-btn:hover {
    color: #fff;
    background-color: #E43C5C;
    border: none;
}
.pricing .featured {
    z-index: 5;
    border: 3px solid #E43C5C;
}
/* SECTION 6 END */

/* SECTION 7 */
.faq .faq-container .faq-item {
    background-color: #ffffff;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    overflow: hidden;
}

.faq .section-title {
    margin-bottom: 50px;
}
.faq .faq-container .faq-item:last-child {
    margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 0 0;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.faq .faq-container .faq-item h3 .num {
    color: #e43c5c;
    padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
    color: #e43c5c;
}

.faq .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
    color: #e43c5c;
}

.faq .faq-container .faq-active {
    background-color: rgba(228, 60, 92, 0.03);
    border-color: rgba(228, 60, 92, 0.2);
}

.faq .faq-container .faq-active h3 {
    color: #e43c5c;
}

.faq .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: #e43c5c;
}

/* SECTION 7 END */

/* SECTION 8 */
.team {
    padding: 60px 0;
}
.team .section-title {
    padding-bottom: 60px;
}
.team .team-member {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.team-member .member-img {
    position: relative;
}
.team .team-member:hover .social {
    opacity: 1;
}
.team-member .member-img .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    background: color-mix(in srgb, #ffff, transparent 20%);
    transition: ease-in-out 0.3s;
}
.member-img .social a {
    transition: color 0.3s;
    color: #493c3e;
    display: inline-flex;
}
.member-img .social a iconify-icon {
    line-height: 0;
}
.member-img .social a:hover {
    color: #E43C5C;
}
.team-member .member-info {
    padding: 25px 15px;
    text-align: center;
}
.member-info h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    color: color-mix(in srgb,#444444,transparent 20%);
    font-family: "Nunito", sans-serif;
}
.member-info span {
    font-size: 13px;
    font-weight: 400;
    color: color-mix(in srgb,#444444,transparent 40%);
    font-family: "Roboto", sans-serif;
}
/* SECTION 8 END */

/* SECTION 9 */
.team-2 {
    padding: 60px 0;
}
.team-2 .section-title {
    padding-bottom: 60px;
}
.member {
    position: relative;
    height: 100%;
}
.team-2 .member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}
.team-2 .member:hover .member-info {
    background: rgba(0, 0, 0, 0.6);
}
.team-2 .member .member-info h4 {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #fff;
}
.team-2 .member .member-info span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}
.team-2 .member-info .member-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
.team-2 .member:hover .member-info {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: 0.4s;
}
.team-2 .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}
.team-2 .member-info .social {
    margin-top: 15px;
}
.team-2 .member-info .social a {
    color: #fff;
    transition: 0.3s;
}
.team-2 .member-info .social a:hover {
    color: #E43C5C;
}
.team-2 .member-info .social iconify-icon {
    font-size: 18px;
    margin: 0px 2px;
}
/* SECTION 9 END */

/* SECTION 10 */
.contact {
    padding: 60px 0;
}
.contact .section-title {
    padding-bottom: 60px;
}
.contact .info-item iconify-icon {
    width: 44px;
    height: 44px;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E43C5C;
    color: #fff;
}
.contact .info-item h3 {
    color: #493C3E;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: "Nunito", sans-serif;
}
.contact .info-item p {
    color: #444444;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}
.contact input,
.contact textarea
{   
    outline: none;
    font-size: 14px;
    border-radius: 0px;
    width: 100%;
    padding: 10px 15px;
    background-color: color-mix(in srgb, #fff, transparent 50%);
    border: 1px solid color-mix(in srgb, #444444, transparent 80%);
}
.contact input:focus,
.contact textarea:focus
{   
   border-color: #E43C5C;
}
.contact input::placeholder,
.contact textarea::placeholder
{   
    color: color-mix(in srgb, #444444 , transparent 70%);
}
.contact .submit
{
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    background: #E43C5C;
    color: #fff;
    transition: 0.4s;
}
.contact .submit:hover
{
    background: color-mix(in srgb, #E43C5C, transparent 20%);
}
/* SECTION 10 END */

/* FOOTER */
.footer {
    padding: 50px 0;
}
.footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
}
.footer .footer-about .logo span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Nunito", sans-serif;
}
.footer .footer-about p {
    color: #fff;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}
.footer .social-links {
    display: flex;
    gap: 10px;
}
.footer .social-links a {
    border: 1px solid color-mix(in srgb, #fff, transparent 50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: color-mix(in srgb, #fff, transparent 50%);
    transition: 0.3s;
}
.footer .social-links a:hover {
    color: #E43C5C;
    border-color: #E43C5C;
}
.footer .footer-links {
    margin-bottom: 30px;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 12px;
}
.footer-links a {
    color: color-mix(in srgb, #fff, transparent 20%);
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.footer-links a:hover {
    color: #E43C5C;
    transition: 0.3s;
}
.footer .footer-contact p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.footer .copyright {
    padding: 25px 0;
    background-color: color-mix(in srgb, #ffff , transparent 92%);
}
.footer .copyright p {
    margin-bottom: 6px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.footer .copyright .credits p {
    font-size: 13px;

}
.footer .copyright .credits a {
    color: #E43C5C;
}
.footer .copyright .credits a:hover {
    color: color-mix(in srgb, #E43C5C, transparent 25%);
}
/* FOOTER END */












@media (min-width: 0px) {
    .navbar-p {
        height: 75px;
    }
}
@media (min-width: 768px) {
    .herosub h2 {
        font-size: 48px;
    }
    .herosub p {
        font-size: 24px;
    }
}
@media (min-width: 992px) {
    .pricing .featured {
        transform: scale(1.15);
    }
}
@media (min-width: 1200px) {
    .navbar-p {
        height: 90px;
    }
    .navbar-p .navRight-p {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        gap: 30px;
    }
}